apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: aianimals
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      name: postgres
      namespace: aianimals
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:13.5
          imagePullPolicy: Always
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: password
            - name: POSTGRES_DB
              value: aianimals
            - name: POSTGRES_INITDB_ARGS
              value: --encoding=UTF-8
          resources:
            requests:
              cpu: 500m
              memory: "1000Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: aianimals
  labels:
    app: postgres
spec:
  ports:
    - port: 5432
  selector:
    app: postgres
