aiohttp-retry==2.4.6; python_version >= "3.7"
aiohttp==3.8.1; python_version >= "3.7"
aiosignal==1.2.0; python_version >= "3.7"
alembic==1.7.6; python_version >= "3.6"
antlr4-python3-runtime==4.8; python_version >= "3.6"
anyio==3.5.0; python_full_version >= "3.6.2" and python_version >= "3.6"
appdirs==1.4.4; python_version >= "3.7"
async-timeout==4.0.2; python_version >= "3.7"
asyncssh==2.8.1; python_version >= "3.7"
atpublic==3.0.1; python_version >= "3.7"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.5.0"
autopage==0.5.0; python_version >= "3.6"
certifi==2021.10.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
cffi==1.15.0; python_version >= "3.7"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.7"
click==8.0.4; python_version >= "3.6"
cliff==3.10.1; python_version >= "3.6"
cloudpickle==2.0.0; python_version >= "3.6"
cmaes==0.8.2; python_version >= "3.6"
cmd2==2.3.3; python_version >= "3.6"
colorama==0.4.4; python_full_version >= "3.6.2" and python_version >= "3.7" and python_full_version < "4.0.0" and (python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.5.0" and python_version >= "3.7" and platform_system == "Windows") and (python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0") and (python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0")
colorlog==6.6.0; python_version >= "3.6"
commonmark==0.9.1; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
configobj==5.0.6; python_version >= "3.7"
cryptography==36.0.1; python_version >= "3.7"
databricks-cli==0.16.4; python_version >= "3.6"
dictdiffer==0.9.0; python_version >= "3.7"
diskcache==5.4.0; python_version >= "3.7"
distro==1.7.0; python_version >= "3.7"
docker==5.0.3; python_version >= "3.6"
dpath==2.0.6; python_version >= "3.7"
dulwich==0.20.32; python_version >= "3.7"
dvc==2.9.4; python_version >= "3.7"
entrypoints==0.4; python_version >= "3.6"
flask==2.0.3; python_version >= "3.6"
flatbuffers==2.0
flatten-dict==0.4.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
flufl.lock==7.0; python_version >= "3.7"
frozenlist==1.3.0; python_version >= "3.7"
fsspec==2022.1.0; python_version >= "3.7"
ftfy==6.1.1; python_version >= "3.7" and python_version < "4"
funcy==1.17; python_version >= "3.7"
future==0.18.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
gitdb==4.0.9; python_version >= "3.7"
gitpython==3.1.27; python_version >= "3.7"
grandalf==0.6; python_version >= "3.7"
greenlet==1.1.2; python_version >= "3" and python_full_version < "3.0.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") or python_version >= "3" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") and python_full_version >= "3.5.0"
gunicorn==20.1.0; platform_system != "Windows" and python_version >= "3.6"
h11==0.12.0; python_version >= "3.6"
httpcore==0.13.7; python_version >= "3.6"
httpx==0.19.0; python_version >= "3.6"
hydra-core==1.1.1
idna==3.3; python_full_version >= "3.6.2" and python_version >= "3.7"
importlib-metadata==4.11.1; python_version >= "3.7"
itsdangerous==2.1.0; python_version >= "3.7"
jinja2==3.0.3; python_version >= "3.6"
joblib==1.1.0; python_version >= "3.7"
lightgbm==3.3.2
mailchecker==4.1.12; python_version >= "3.7"
mako==1.1.6; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
markupsafe==2.1.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
mlflow==1.23.1; python_version >= "3.6"
multidict==6.0.2; python_version >= "3.7"
mypy-extensions==0.4.3; python_version >= "3.7"
nanotime==0.5.2; python_version >= "3.7"
networkx==2.6.3; python_version >= "3.7"
nptyping==1.4.4; python_version >= "3.5"
numpy==1.22.2; python_version >= "3.8"
omegaconf==2.1.1; python_version >= "3.6"
onnx==1.11.0
onnxconverter-common==1.9.0
onnxmltools==1.10.0
onnxruntime==1.10.0
optuna==2.10.0; python_version >= "3.6"
packaging==21.3; python_version >= "3.7"
pandas==1.4.1; python_version >= "3.8"
pandera==0.7.2; python_version >= "3.7"
pathspec==0.9.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pbr==5.8.1; python_version >= "3.6"
phonenumbers==8.12.43; python_version >= "3.7"
ply==3.11; python_version >= "3.7"
prettytable==3.1.1; python_version >= "3.7"
prometheus-client==0.13.1; python_version >= "3.6"
prometheus-flask-exporter==0.18.7; python_version >= "3.6"
protobuf==3.19.4; python_version >= "3.6"
psutil==5.9.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
psycopg2-binary==2.9.3; python_version >= "3.6"
pyarrow==7.0.0; python_version >= "3.7"
pyasn1==0.4.8; python_version >= "3.7"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pydantic==1.9.0; python_full_version >= "3.6.1"
pydot==1.4.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pygit2==1.8.0; python_version >= "3.7"
pygments==2.11.2; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
pygtrie==2.4.2; python_version >= "3.7"
pyparsing==3.0.7; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pyperclip==1.8.2; python_version >= "3.6"
pyreadline3==3.4.1; sys_platform == "win32" and python_version >= "3.8"
python-benedict==0.25.0; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
python-fsutil==0.6.0; python_version >= "3.7"
python-slugify==6.0.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
pytz==2021.3; python_version >= "3.8"
pywin32==227; sys_platform == "win32" and python_version >= "3.6"
pyyaml==6.0; python_version >= "3.7"
querystring-parser==1.2.4; python_version >= "3.6"
requests==2.27.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
rfc3986==1.5.0; python_version >= "3.6"
rich==11.2.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
ruamel.yaml.clib==0.2.6; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.7"
ruamel.yaml==0.17.21; python_version >= "3.7"
scikit-learn==1.0; python_version >= "3.7"
scipy==1.8.0; python_version >= "3.8" and python_version < "3.11"
scmrepo==0.0.7; python_version >= "3.7"
shortuuid==1.0.8; python_version >= "3.7"
shtab==1.5.3; python_version >= "3.7"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.8"
skl2onnx==1.10.4
smmap==5.0.0; python_version >= "3.7"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
sqlalchemy==1.4.31; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
sqlparse==0.4.2; python_version >= "3.6"
stevedore==3.5.0; python_version >= "3.6"
tabulate==0.8.9; python_version >= "3.7"
text-unidecode==1.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
threadpoolctl==3.1.0; python_version >= "3.7"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tqdm==4.62.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
typing-extensions==4.1.1; python_version >= "3.7" and python_full_version >= "3.6.1"
typing-inspect==0.7.1; python_version >= "3.7"
typish==1.9.3; python_version >= "3.5"
urllib3==1.26.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
voluptuous==0.12.2; python_version >= "3.7"
waitress==2.0.0; platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.6.0"
wcwidth==0.2.5; python_version >= "3.7" and python_version < "4"
websocket-client==1.2.3; python_version >= "3.6"
werkzeug==2.0.3; python_version >= "3.6"
wrapt==1.13.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
xmltodict==0.12.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
yarl==1.7.2; python_version >= "3.7"
zc.lockfile==2.0; python_version >= "3.7"
zipp==3.7.0; python_version >= "3.7"
