cloudpickle==2.0.0; python_version >= "3.6"
joblib==1.1.0; python_version >= "3.7"
lightgbm==3.3.2
mecab-python3==1.0.5
numpy==1.22.2; python_version >= "3.8"
onnx==1.11.0
protobuf==3.19.4; python_version >= "3.5"
scikit-learn==1.0.2; python_version >= "3.7"
scipy==1.6.1; python_version >= "3.7"
threadpoolctl==3.1.0; python_version >= "3.7"
typing-extensions==4.1.1; python_version >= "3.6"
