cloudpickle==2.0.0; python_version >= "3.6"
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
joblib==1.1.0; python_version >= "3.8"
lightgbm==3.3.2
mecab-python3==1.0.5
numpy==1.22.2; python_version >= "3.8"
onnx==1.11.0
packaging==21.3; python_version >= "3.6"
protobuf==3.19.4; python_version >= "3.5"
pyparsing==3.0.7; python_version >= "3.6"
redis==4.1.4; python_version >= "3.6"
scikit-learn==1.1.1; python_version >= "3.8"
scipy==1.6.1; python_version >= "3.8"
threadpoolctl==3.1.0; python_version >= "3.8"
typing-extensions==4.1.1; python_version >= "3.6"
wrapt==1.13.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
