anyio==3.5.0; python_full_version >= "3.6.2" and python_version >= "3.6"
async-timeout==4.0.2; python_version >= "3.6"
certifi==2021.10.8; python_version >= "3.6"
charset-normalizer==2.0.12; python_full_version >= "3.5.0" and python_version >= "3.6"
dependency-injector==4.39.1
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
gensim==4.2.0; python_version >= "3.6"
h11==0.12.0; python_version >= "3.6"
httpcore==0.14.7; python_version >= "3.6"
httpx==0.22.0; python_version >= "3.6"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.6.2"
numpy==1.22.3; python_version >= "3.8" and python_version < "3.11"
packaging==21.3; python_version >= "3.6"
psycopg2-binary==2.9.3; python_version >= "3.6"
pydantic==1.9.0; python_full_version >= "3.6.1"
pyparsing==3.0.8; python_full_version >= "3.6.8" and python_version >= "3.6"
redis==4.2.2; python_version >= "3.6"
rfc3986==1.5.0; python_version >= "3.6"
scipy==1.8.0; python_version >= "3.8" and python_version < "3.11"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
smart-open==6.0.0; python_version >= "3.6" and python_version < "4.0"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
typing-extensions==4.2.0; python_version >= "3.7" and python_full_version >= "3.6.1"
wrapt==1.14.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
