absl-py==1.2.0; python_version >= "3.7" and python_version < "4"
alembic==1.8.1; python_version >= "3.7"
antlr4-python3-runtime==4.9.3; python_version >= "3.6"
anyio==3.6.1; python_full_version >= "3.6.2" and python_version >= "3.6"
astunparse==1.6.3; python_version >= "3.7"
cachetools==5.2.0; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
certifi==2022.6.15; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.1.0; python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4"
click==8.1.3; python_version >= "3.7"
cloudpickle==2.1.0; python_version >= "3.7"
colorama==0.4.5; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.5.0"
databricks-cli==0.17.0; python_version >= "3.7"
dependency-injector==4.40.0
dill==0.3.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.7"
docker==5.0.3; python_version >= "3.7"
entrypoints==0.4; python_version >= "3.7"
etils==0.7.1; python_version >= "3.7"
flask==2.2.2; python_version >= "3.7"
flatbuffers==1.12; python_version >= "3.7"
gast==0.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
gitdb==4.0.9; python_version >= "3.7"
gitpython==3.1.27; python_version >= "3.7"
google-auth-oauthlib==0.4.6; python_version >= "3.7"
google-auth==2.10.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
google-pasta==0.2.0; python_version >= "3.7"
googleapis-common-protos==1.56.4; python_version >= "3.7" and python_version < "4"
greenlet==1.1.2; python_version >= "3" and python_full_version < "3.0.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7") or python_version >= "3" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7") and python_full_version >= "3.5.0"
grpcio==1.48.0; python_version >= "3.7"
gunicorn==20.1.0; platform_system != "Windows" and python_version >= "3.7"
h11==0.12.0; python_version >= "3.6"
h5py==3.7.0; python_version >= "3.7"
httpcore==0.14.7; python_version >= "3.6"
httpx==0.22.0; python_version >= "3.6"
hydra-core==1.2.0
idna==3.3; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.2"
importlib-metadata==4.12.0; python_version >= "3.7"
importlib-resources==5.9.0; python_version >= "3.7"
itsdangerous==2.1.2; python_version >= "3.7"
jinja2==3.1.2; python_version >= "3.7"
joblib==1.1.0; python_version >= "3.8"
keras-preprocessing==1.1.2; python_version >= "3.7"
keras==2.9.0; python_version >= "3.7"
libclang==14.0.6; python_version >= "3.7"
mako==1.2.1; python_version >= "3.7"
markdown==3.4.1; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
mlflow==1.28.0; python_version >= "3.7"
nptyping==1.4.4; python_version >= "3.5"
numpy==1.23.1; python_version >= "3.8"
oauthlib==3.2.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
omegaconf==2.2.2; python_version >= "3.6"
opt-einsum==3.3.0; python_version >= "3.7"
packaging==21.3; python_version >= "3.7"
pandas==1.4.3; python_version >= "3.8"
pillow==9.2.0; python_version >= "3.7"
prometheus-client==0.14.1; python_version >= "3.7"
prometheus-flask-exporter==0.20.3; python_version >= "3.7"
promise==2.3; python_version >= "3.7"
protobuf==3.19.4; python_version >= "3.7" and python_version < "4"
psycopg2-binary==2.9.3; python_version >= "3.6"
pyasn1-modules==0.2.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
pyasn1==0.4.8; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7") or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
pydantic==1.9.2; python_full_version >= "3.6.1"
pyjwt==2.4.0; python_version >= "3.7"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
pytz==2022.2; python_version >= "3.8"
pywin32==227; sys_platform == "win32" and python_version >= "3.7"
pyyaml==6.0; python_version >= "3.7"
querystring-parser==1.2.4; python_version >= "3.7"
requests-oauthlib==1.3.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
requests==2.28.1; python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7")
rfc3986==1.5.0; python_version >= "3.6"
rsa==4.9; python_version >= "3.6" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
scann==1.2.7
scikit-learn==1.1.2; python_version >= "3.8"
scipy==1.9.0; python_version >= "3.8" and python_version < "3.12"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.8"
smmap==5.0.0; python_version >= "3.7"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
sqlalchemy==1.4.40; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
sqlparse==0.4.2; python_version >= "3.7"
tabulate==0.8.10; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
tensorboard-data-server==0.6.1; python_version >= "3.7"
tensorboard-plugin-wit==1.8.1; python_version >= "3.7"
tensorboard==2.9.1; python_version >= "3.6"
tensorflow-datasets==4.6.0; python_version >= "3.7"
tensorflow-estimator==2.9.0; python_version >= "3.7"
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.26.0; python_version >= "3.7" and python_version < "3.11"
tensorflow-metadata==1.9.0; python_version >= "3.7" and python_version < "4"
tensorflow-recommenders==0.6.0
tensorflow==2.9.1; python_version >= "3.7"
termcolor==1.1.0; python_version >= "3.7"
threadpoolctl==3.1.0; python_version >= "3.8"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tqdm==4.64.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
typing-extensions==4.3.0; python_version >= "3.7" and python_full_version >= "3.6.1"
typish==1.9.3; python_version >= "3.5"
urllib3==1.26.11; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
waitress==2.1.2; platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.7.0"
websocket-client==1.3.3; python_version >= "3.7"
werkzeug==2.2.2; python_version >= "3.7"
wrapt==1.14.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
zipp==3.8.1; python_version >= "3.7"
