anyio==3.5.0; python_full_version >= "3.6.2" and python_version >= "3.6"
asgiref==3.5.0; python_version >= "3.7"
certifi==2021.10.8; python_version >= "3.6"
charset-normalizer==2.0.12; python_full_version >= "3.5.0" and python_version >= "3.6"
click==8.0.4; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.5.0"
dependency-injector==4.39.1
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
fastapi==0.75.2; python_full_version >= "3.6.1"
gunicorn==20.1.0; python_version >= "3.5"
h11==0.12.0; python_version >= "3.7"
httpcore==0.14.7; python_version >= "3.6"
httpx==0.22.0; python_version >= "3.6"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.6.2"
numpy==1.22.3; python_version >= "3.8"
packaging==21.3; python_version >= "3.6"
pillow==9.0.1; python_version >= "3.7"
prometheus-client==0.14.1; python_version >= "3.6"
prometheus-fastapi-instrumentator==5.7.1; python_full_version >= "3.6.0" and python_full_version < "4.0.0"
psycopg2-binary==2.9.3; python_version >= "3.6"
pydantic==1.9.0; python_full_version >= "3.6.1"
pyparsing==3.0.7; python_version >= "3.6"
redis==4.1.4; python_version >= "3.6"
rfc3986==1.5.0; python_version >= "3.6"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
starlette==0.17.1; python_version >= "3.6" and python_full_version >= "3.6.1" and python_full_version < "4.0.0"
typing-extensions==4.1.1; python_version >= "3.6" and python_full_version >= "3.6.1"
uvicorn==0.17.6; python_version >= "3.7"
wrapt==1.14.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
